.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#project {
  background-color: #a2d9ff;
}
section {
  padding-top: 5rem;
}

.galery-img {
  width: 100%;
}

#galery .row > * {
  padding: 0;
}
