.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#project {
  background-color: #a2d9ff;
}
#contact {
  background-color: #a2d9ff;
}
section {
  padding-top: 5rem;
}

.galery-img {
  width: 100%;
}

#galery .row > * {
  padding: 0;
}
/* my rubik */
.rubik-box {
  position: relative;
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}
.rubik-box::before {
  content: "MY";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}
.rubik-box:hover::before {
  opacity: 0.2;
}

.rubik-box::after {
  content: "CUBE";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 320px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}
.rubik-box:hover::after {
  opacity: 0.2;
}

.rubik-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.rubik-box:hover .rubik-name {
  top: 20px;
  opacity: 1;
}
.rubik-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transform: 0.5s;
}

.rubik-box:hover .rubik-detail-button {
  opacity: 1;
  bottom: 20px;
}
.rubik-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -52%, 100px);
  max-width: 250px;
  transition: 0.5s;
  z-index: 10;
}
.rubik-box:hover .rubik-img {
  transform: translate(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}
